.botao {
  width: 100%;
  padding: 18px;
  border-radius: 12px;
  cursor: pointer;

  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.5px;

  background: #fff; /* fundo branco */
  color: #57c278; /* cor do gradiente principal */
  border: 2px solid transparent;
  background-image: linear-gradient(#fff, #fff),
                    linear-gradient(135deg, #57c278, #82cffa);
  background-origin: border-box;
  background-clip: padding-box, border-box;

  box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.botao:hover {
  background-color: #f0f0f0;
  transform: scale(1.02);
}
