.secao {
  width: 100%;
  box-sizing: border-box; 
  text-align: center;
  padding: 32px;
}

.secao h3 {
  font-size: 32px;
  border-bottom: 4px solid;
  display: inline-block;
  padding-bottom: 8px;
}

.secao .produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 32px; 
  margin-top: 32px;
}